// Files to Import
@import "normalize";
@import "susy";
@import "variables";
@import "grid";
@import "typography";
@import "buttons";
@import "images";
@import "forms";
@import "components/nav";
@import "components/heros";
@import "components/cards";
@import "components/callouts";
@import "components/quotes";
@import "components/media";
@import "components/ratings";

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-grey {
  color: $grey-dark;
}

.text-uppercase {
  text-transform: uppercase;
}

// TODO: Meta-program these utlitiy classes.
// Margin Top Utilities
.m-t-0 { margin-top: 0; }
.m-t-1 { margin-top: 1rem; }
.m-t-2 { margin-top: 2rem; }
.m-t-3 { margin-top: 3rem; }

// Margin Bottom Utilities
.m-b-0 { margin-bottom: 0; }
.m-b-1 { margin-bottom: 1rem; }
.m-b-2 { margin-bottom: 2rem; }
.m-b-3 { margin-bottom: 3rem; }

// Margin X and Y Axis Utilities
.m-x-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.m-y-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

// Padding Utilities
.p-b-3 { padding-bottom: 3rem; }
.p-t-3 {
  padding-top: 3rem;
}

.p-y-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// Background Utilities
.bg-white {
  background-color: $white;
}
