.footer.bg-white
  %ul.nav.p-t-3
    %li.nav-link
      %a Legal Information
    %li.nav-link
      %a Terms
    %li.nav-link
      %a Delivery
    %li.nav-link
      %a Support
    %li.nav-link
      %a Contact
  .newsletter.text-center.p-b-3
    %form.form-inline
      // TODO: This is too tall
      %label.text-uppercase Newsletter
      %input{ placeholder: "Email" }
      // TODO: make this an icon
      %a.btn.btn-grey Submit
  // TODO: add social links
  .social
