// TODO: the logo and nav links are not 100% aligned
%nav.navbar
  .navbar-inner
    %a.logo{ href: "/" }

    %ul.nav.nav-right.nav-bg-maroon
      %li.nav-link
        %a Store
        %i.fa.fa-chevron-down
      %li.nav-link
        %a Account
        %i.fa.fa-chevron-down
      %li.nav-link
        %a.btn.btn-secondary
          Cart

