// TODO: the logo and nav links are not 100% aligned in the middle
// TODO: Add chevron down to links
// TODO: Add icon to buttons
%nav.navbar
  .navbar-inner
    %a.logo{ href: "/" }
    %ul.nav.pull-right
      %li.nav-link
        %a Store
      %li.nav-link
        %a Account
      %li.nav-link
        %a.btn.btn-secondary
          Cart
