%head
  %meta{ charset: "utf-8" }
  %meta{'http-equiv' => "X-UA-Compatible", :content =>"IE=edge"}
  %title Frontend Sample
  %meta{name: "description", content: "Frontend Sample"  }
  %meta{name: "author", content: "Stephen Puiszis" }
  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  = stylesheet_link_tag "site"
  = javascript_include_tag "site"
