.hero {
  color: $white;
  text-align: center;
  min-height: 350px;
  background: image-url("backgrounds/produce.jpg");
  background-size: cover;
  background-position: center center;
  background-color: $grey-dark;
  background-blend-mode: overlay;

  .hero-inner {
    padding: 2rem;
  }

  h1 {
    font-weight: 400;
  }
}
