.container
  %h1 Does your lorem ipsum text long for something a little meatier?
  %h2 Does your lorem ipsum text long for something a little meatier?
  %h3 Does your lorem ipsum text long for something a little meatier?
  %h4 Does your lorem ipsum text long for something a little meatier?
  %h5 Does your lorem ipsum text long for something a little meatier?
  %h6 Does your lorem ipsum text long for something a little meatier?

  %p Bacon ipsum dolor amet bresaola tail jowl pork ball tip ground round. Meatball shankle cow andouille kevin jowl tongue chuck chicken ham hock. Hamburger ground round cupim jowl tri-tip biltong chuck pork loin boudin swine doner porchetta corned beef. Bresaola ball tip meatloaf prosciutto short ribs leberkas alcatra pork chop, venison landjaeger boudin t-bone pork belly beef tri-tip. Beef ground round ham hock ribeye turducken sirloin brisket bacon picanha strip steak kielbasa.

  %a Link Text

  %hr

  %h3 Buttons

  %a.btn.btn-primary Button Primary
  %a.btn.btn-secondary Button Secondary
  %a.btn.btn-grey Button Grey

  %hr

  %h3 Cards

  .card.card-product
    .card-inner
      = image_tag "products/lime-large.jpg"
      %p.card-header $20
      %p.card-subhead Mexican Limes
      %small.card-text each

  .card.card-recipe
    .card-inner
      = image_tag "receipes/oatmeal.png"
      %p.card-header Slow Cooked Steel Oats

